body {
    font-family: 'Fira Code', Courier, monospace;
    color: #6b1186;
    background-color: #edbebe;
    font-weight: 650;
}

.profile-image {
    width: 50%;
    height: auto;
    max-width:250px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

header {
    display: grid;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: #6b1186 2px solid;
    border-radius: 8px;
    background-color: #ffffff;
    height: 40px;
}

header h1 {
    margin: 0;
    font-size: 32px;
    text-align: center;
    line-height: 40px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: #6b1186 2px solid;
    border-radius: 8px;
}

.box {
    border: #6b1186 2px solid;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 24px;
}

.box p {
    font-size: 18px;
    line-height: 2;;
    text-align: center;
}

ul {
    padding-left: 20px;
    font-size: 18px;
}

.container {
    display: grid;
    border: #6b1186 2px solid;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    font-size: 24px;
    text-align: center;
}

.container ul {
    font-size: 18px;
    text-align: left;
}

button {
    background-color: #6b1186;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
    hover: background-color black;
}
